<EditForm Model=ViewModel OnValidSubmit=ViewModel.Register>
    <ModelValidator Validator="ViewModel.Validator" @ref=ViewModel.ModelValidatorComponentReference />
    
    <div class="form-group">
        <label for="FirstName">@UserRegistrationMessages.FirsNameLabel</label>
        <InputText id="FirstName"
            class="form-control"
            placeholder="@UserRegistrationMessages.FirsNameLabel"
            @bind-Value=ViewModel.FirstName />
        <ValidationMessage For="() => ViewModel.FirstName" />        
    </div>   
    <div class="form-group">
        <label for="LastName">@UserRegistrationMessages.LastNameLabel</label>
        <InputText id="LastName"
            class="form-control"
            placeholder="@UserRegistrationMessages.LastNameLabel"
            @bind-Value=ViewModel.LastName />
        <ValidationMessage For="() => ViewModel.LastName" />        
    </div> 
    <div class="form-group">
        <label for="Email">@CommonMessages.EmailLabel</label>
        <InputText id="Email"
            class="form-control"
            placeholder="@CommonMessages.EmailLabel"
            @bind-Value=ViewModel.Email />
        <ValidationMessage For="() => ViewModel.Email" />        
    </div> 
    <div class="form-group">
        <label for="Password">@CommonMessages.PasswordLabel</label>
        <InputText id="Password"
            type="password"
            class="form-control"
            placeholder="@CommonMessages.PasswordLabel"
            @bind-Value=ViewModel.Password />
        <ValidationMessage For="() => ViewModel.Password" />        
    </div>
    <div class="form-group">
        <label for="Passwordconfirm">@UserRegistrationMessages.PasswordConfirmationLabel</label>
        <InputText id="Passwordconfirm"
                   type="password"
                   class="form-control"
                   placeholder="@UserRegistrationMessages.PasswordConfirmationLabel"
                   @bind-Value=ViewModel.PasswordConfirmation />
        <ValidationMessage For="() => ViewModel.PasswordConfirmation" />
    </div>

    <div class="row p-3">
        <div class="col">
            <button class="btn btn-primary">@UserRegistrationMessages.RegistrerButtonText</button>
        </div>
    </div>
</EditForm>
<hr/>
@if (!string.IsNullOrWhiteSpace(ViewModel.InformationMessage))
{
    <div class="alert alert-info">
        @ViewModel.InformationMessage
    </div>
}